@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #B10F2E;
    background-size: cover;
}

.navbar{
    width: 300px;
    height: 100%;
    background-color: #FDFFFF;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change{
    right: 0;
}

.hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line{
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.8s;
}

.change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
    background: #B10F2E;
}

.change .line-2{
    opacity: 0;
}

.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
    background: #B10F2E;
}

.nav-list{
    text-align: right;
}

.nav-item{
    list-style: none;
    margin: 25px;
}

.nav-link{
    text-decoration: none;
    font-size: 22px;
    color: #000;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;  
    position: relative;
    padding: 3px 0;
}

.nav-link:hover{
    color: #B10F2E;
}

.nav-link::before,
.nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background: #B10F2E;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: 0.5s;
}

.nav-link::after{
    bottom: 0;
    transform-origin: right;
}

.nav-link::before{
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after{
    transform: scaleX(1);
}