@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.contenedor__imagen {
  background-color: rgb(41, 46, 57);
  color: #fff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 500px;
  height: 300px;
}

.contenedor__imagen * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.contenedor__imagen:before,
.contenedor__imagen:after {
  background-color: rgba(46, 52, 64,  0.5);
  border-top: 50px solid rgba(46, 52, 64, 0.5);
  border-bottom: 50px solid rgba(46, 52, 64, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.contenedor__imagencontenedor__imagen:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.contenedor__imagencontenedor__imagen:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.contenedor__imagencontenedor__imagen img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.contenedor__imagen figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.contenedor__imagen h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.contenedor__imagen h3 span {
  display: block;
  font-weight: 700;
}

.contenedor__imagen a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.contenedor__imagen:hover > img,
.contenedor__imagen.hover > img {
  opacity: 0.7;
}

.contenedor__imagen:hover:before,
.contenedor__imagen.hover:before,
.contenedor__imagen:hover:after,
.contenedor__imagen.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.contenedor__imagen:hover figcaption,
.contenedor__imagen.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
