@keyframes blink {
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  body {
      background-color: #5EB1BF;
      color: #eeeeee;
      font-family: 'Share Tech Mono', monospace;
      user-select: none;
  }
  
  .hidden {
      display: none;
  }
  
  .password {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 60px;
      letter-spacing: 5px;
      text-transform: uppercase;
  }
  
  .granted {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
  }
  
  .info {
      position: absolute;
      padding:0 0 0 20px;
      top: 0;
      left: 0;
      
  }
  
  p { margin: 10px; }
  
  .button {
      background-color: #D84727;
      border: solid 3px #CDEDF6;
      padding: 8px 25px;
      font-size: 26px;
      letter-spacing: 3px;
      cursor: pointer;
  }
  .rerun {
      position: absolute;
      bottom: 15px;
      right: 15px;
  }
  .start {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  .blink {
          animation: blink 0.8s steps(1, start) infinite alternate;
  }